@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');
body {
    background-color: #044d5e;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

.navbar,
.navbar-nav a {
    background-color: rgb(212, 236, 240);
    color: black;
}

@media(min-width: 768px) {

    /*Breakpoint nav*/
    .navbar {
        height: 100vh;
    }
    .nav-side {
        display: flex;
        flex-direction: column;
    }
    .text-width {
        width: 78vw;
    }
    .d-break {
        display: flex;
    }
    .name-top {
        border-bottom: 2px solid black;
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
        margin-right: -60px;
        width: max-content;
    }
    .nav-link{
        text-align: center;
        margin: 15px;
        height: max-content;
    }
    .view-section{
        height: 100vh;
    }
    .mt-foto{
        margin-top: 70px;
    }
}
@media (max-width:767px) {
    .nav-link{
        margin: 5px;
        width: max-content;
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
    }
    .view-section{
        margin-top: 10px;
    }
    .img-foto{
        display: none;
    }
}
.img-side{
    width: 50px;
    border-radius: 50%;
    background-color: white;
}
.img-side:hover{
    background-color: rgb(213, 240, 212);
}
.side-link:hover{
    background-color: #044d5e;
    color: white;
}

.btn-cv{
    background-color: #044d5e;
    color: white;
    border: none;
    height: 50px;
}
.btn-cv:hover{
    color: rgb(213, 240, 212);
}
.view-section{
    display: flex;
    align-items: center;
    width: fit-content;
}

/* Tamaño de texto*/
nav span{
    font-size: 20px;
    font-weight: 500;
}
.nav-link{
    font-size: 19px;
    font-weight: 500;
}
.border-1{
    border: 3px solid #6f9aac !important;  
}

.icon{
    width: 110px;
    margin: 30px;
    box-shadow: 10px 10px 10px 10px #1f282c;
    border-radius: 20%;
}

.card{
    background-color: #d4e8f0;
    color: rgb(2, 2, 2);
}
.img-foto{
    width: 180px;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.card-text-proyecto{
    color: var(--font-color);
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    margin-left: 15px;
    margin-bottom: 15px;
}
.card-text-proyecto:hover {
    text-decoration: underline;
}
.card-text-proyecto img{
    width: 30px;
    margin-right: 5px;
}